/**
 * VictorThemes Styling
*/
@media screen and (max-width:1852px) {
  /* SaaSpot Normal CSS */
  .saspot-cookies p {
    padding-top: 0;
  }
}

@media screen and (max-width:1770px) {
  /* SaaSpot Normal CSS */
  .steps-style-seven .saspot-image img {
    max-width: 100%;
  }
  .saspot-navigation .dropdown-nav .dropdown-nav {
    right: 100%;
    left: auto;
  }
}

@media screen and (max-width:1699px) {
  /* SaaSpot Normal CSS */
  .header-contact {
    padding-left: 25px;
  }
  .saspot-navigation > ul {
    font-size: 15px;
  }
  .saspot-navigation > ul > li {
    margin: 0 13px;
  }
  .dropdown-nav {
    left: -35px;
  }
  .mega-menu .dropdown-nav {
    left: -100px;
  }
  .header-btn {
    padding-left: 10px;
  }
  .saspot-cookies {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* SaaSpot Enterprises Page CSS */
  .saspot-image.no-max-width img,
  .api-style-two .saspot-image img {
    max-width: 100%;
  }
}

@media screen and (max-width:1499px) {
  /* SaaSpot Normal CSS */
  .saspot-topbar, 
  .saspot-header {
    padding-left: 25px;
    padding-right: 25px;
  }
  /* SaaSpot Single Service Page CSS */
  .steps-style-nine .saspot-image img {
    max-width: 100%;
  }
}

@media screen and (max-width:1399px) {
  /* SaaSpot Normal CSS */
  .header-contact > ul > li:after {
    margin: 0 9px 0 11px;
  }
  .header-contact {
    padding-left: 15px;
  }
  .header-btn .saspot-medium-btn {
    display: none;
  }
  .marketing-year .owl-carousel .owl-nav button.owl-prev,
  .marketing-year:hover .owl-carousel .owl-nav button.owl-prev {
    top: 40%;
    left: 0;
  }
  .marketing-year .owl-carousel .owl-nav button.owl-next,
  .marketing-year:hover .owl-carousel .owl-nav button.owl-next {
    top: 40%;
    right: 0;
  }
}

@media screen and (max-width:1339px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

@media screen and (min-width:1270px) {
  /* SaaSpot Normal CSS */
  .container {
    padding: 0;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .saspot-webinars-section.examples-style-two .row,
  .saspot-market-examples .row {
    margin: 0 -37px;
  }
  .saspot-webinars-section.examples-style-two [class*="col-"],
  .saspot-market-examples [class*="col-"] {
    padding: 0 37px;
  }
  /* SaaSpot Our Story Page CSS */
  .history-wrap .row {
    margin: 0 -35px;
  }
  .history-wrap [class*="col-"] {
    padding: 0 35px;
  }
}

@media screen and (max-width:1269px) {
  /* SaaSpot Normal CSS */
  .header-contact .nice-select .current, 
  .disable-link {
    display: none;
  }
  .header-contact.nice-select-two .nice-select .list {
    left: -60px;
  }
  .header-contact.nice-select-two .nice-select {
    padding: 13px;
  }
  .header-contact-link {
    padding: 10px 0;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-details.details-spacer-two {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width:1200px) {
  /* SaaSpot Normal CSS */
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width:1199px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
  .header-btn {
    margin-right: 60px;
  }
  /* SaaSpot Normal CSS */
  .dropdown-nav {
    left: -100px;
  }
  .mega-menu .dropdown-nav {
    left: -300px;
  }
  .saspot-banner {
    height: 700px;
  }
  .banner-caption h1 {
    font-size: 42px;
  }
  .banner-caption p {
    font-size: 18px;
    line-height: 30px;
  }
  .banner-title {
    padding: 15px 0 10px;
  }
  .promote-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .arrow-wrap {
    margin-left: 15px;
  }
  .saspot-page-title {
    padding: 80px 0;
  }
  .saspot-page-title h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .saspot-sticky-footer .main-wrap-inner {
    margin-bottom: 0 !important;
  }
  .saspot-sticky-footer .saspot-footer {
    position: static;
  }
  .widget-spacer-one {
    padding-left: 0;
  }
  .saspot-menu ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* SaaSpot Home Page CSS */
  .looking-item {
    padding: 35px 25px;
  }
  .sharing-info {
    padding-right: 0;
  }
  .price-info {
    padding: 19px 25px 27px;
  }
  .price-info h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .price-item h3 {
    font-size: 18px;
  }
  /* SaaSpot Agencies Page CSS */
  .agency-item h3 {
    font-size: 20px;
  }
  .testimonial-author-wrap {
    width: 32%;
  }
  .testimonial-info {
    width: 68%;
    padding: 35px 20px 20px 40px;
  }
  .resource-item {
    margin-left: 0;
    margin-right: 0;
  }
  /* SaaSpot Android App Page CSS */
  .feature-item {
    padding-left: 25px;
    padding-right: 25px;
  }
  .saspot-download h2 {
    font-size: 26px;
  }
  .feature-step-info, 
  .feature-step-wrap [class*="order-"] .feature-step-info {
    padding: 30px 0 0;
  }
  /* SaaSpot Api Page CSS */
  .saspot-page-title.page-title-style-four {
    padding: 100px 0;
  }
  /* SaaSpot Apps Page CSS */
  .apps-wrap {
    padding-left: 0;
  }
  /* SaaSpot Careers Page CSS */
  .saspot-banner.banner-style-two {
    height: 600px;
  }
  /* SaaSpot Careers Specialisation Page CSS */
  .values-wrap {
    padding-left: 0;
  }
  .value-item, 
  .value-item.value-spacer {
    padding: 0 0 20px;
  }
  .values-info {
    padding: 30px;
  }
  .saspot-video {
    height: 600px;
  }
  /* SaaSpot Company Values Page CSS */
  .saspot-banner.banner-style-four {
    height: 550px;
  }
  .corporate-item {
    padding: 30px 30px 20px;
  }
  .saspot-background.background-style-two {
    min-height: 500px;
  }
  .identify-info {
    padding: 50px;
  }
  .identify-info h2 {
    font-size: 32px;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-info-item, 
  .guide-details, 
  .guide-details.details-spacer-one {
    padding: 20px;
  }
  /* SaaSpot Comparision 02 Page CSS */
  .table thead th {
    padding: 10px 20px;
    text-align: center;
  }
  .table thead th img {
    float: none;
  }
  .table thead th span {
    display: block;
  }
  .check-icon-wrap {
    white-space: nowrap;
  }
  .guide-wrap {
    padding: 0;
  }
  /* SaaSpot Email Marketing Page CSS */
  .campaign-item {
    padding: 25px 20px 15px;
  }
  .benefit-item {
    padding-right: 0;
  }
  .resources-style-two .resource-item {
    padding: 30px;
  }
  .resources-style-two .resource-item .saspot-image {
    float: none;
  }
  .resources-style-two .resource-info {
    padding: 15px 0 0;
  }
  /* SaaSpot Enterprises Page CSS */
  .promo-info, 
  .steps-style-two .step-info {
    padding-right: 20px;
  }
  .promo-info.promo-spacer {
    padding-left: 20px;
  }
  .promo-info h2, 
  .step-info h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .features-style-three .feature-item {
    padding: 0;
  }
  .steps-style-two .step-spacer-two {
    padding: 0 0 0 20px;
  }
  /* SaaSpot Enterprises Page CSS */
  .extension-wrap {
    padding: 30px 25px 20px;
  }
  .extension-item .saspot-btn-wrap {
    padding: 20px;
  }
  /* SaaSpot Features Page CSS */
  .steps-style-three .step-info {
    padding: 0 0 0 20px;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .promoting-style-two .promote-item {
    padding-left: 0;
    padding-right: 0;
  }
  .saspot-market-role .section-title-wrap {
    max-width: none;
    padding: 0 0 20px;
  }
  .resources-style-four .resource-item {
    padding: 30px;
  }
  .step-info {
    padding-right: 0;
  }
  .market-type {
    padding: 50px 60px;
  }
  /* SaaSpot Marketing Automation Page CSS */
  .common-feature-item br {
    display: none;
  }
  .market-types-style-two .market-wrap {
    max-width: 400px;
  }
  .includes-info .nav {
    font-size: 18px;
  }
  /* SaaSpot Personal Plan Page CSS */
  .guide-info {
    padding-right: 0;
  }
  /* SaaSpot Request A Demo Page CSS */
  .full-page-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* SaaSpot Single Service Page CSS */
  .no-cost-wrap h2 {
    font-size: 30px;
  }
  .no-cost-title {
    padding-left: 20px;
  }
  .saspot-dashboard .tab-content {
    padding: 30px 0px 0;
  }
  .blog-style-two .saspot-meta [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-style-two .saspot-meta .blog-date {
    float: none;
    padding: 10px 0 0;
  }
  .saspot-primary,
  .saspot-secondary {
    width: 100%;
    padding: 0 15px;
  }
  .saspot-secondary {
    margin-top: 50px;
  }
  .saspot-header {
    padding: 20px 25px;
  }
  .saspot-header .row {
    min-height: 50px;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  /* SaaSpot Our Story Page CSS */
  .location-item {
    top: 10px;
    left: 180px;
  }
  .location-item:nth-child(2n) {
    top: 60px;
    left: 90px;
  }
  .location-item:nth-child(3n) {
    top: 125px;
    left: 90px;
  }
  .location-item:nth-child(4n) {
    top: 105px;
    left: 280px;
  }
  .location-item:nth-child(5n) {
    top: 60px;
    left: 350px;
  }
  .location-item:nth-child(6n) {
    top: 40px;
    left: 420px;
  }
  .location-item:nth-child(7n) {
    bottom: 68px;
    right: 70px;
  }
}

@media screen and (max-width:991px) {
  /* SaaSpot Normal CSS */
  .saspot-page-title p {
    font-size: 18px;
    line-height: 28px;
  }
  .page-title {
    padding-bottom: 8px;
  }
  .promote-item {
    padding-left: 0;
    padding-right: 0;
  }
  .arrow-wrap {
    margin-left: 0;
  }
  .saspot-background {
    min-height: 450px;
  }
  .saspot-mid-wrap {
    padding: 80px 0;
  }
  .masonry-item {
    width: 50%;
  }
  .cookies-link-wrap {
    padding: 10px 0 0 55px;
    text-align: left;
  }
  /* SaaSpot Home Page CSS */
  .sharing-info {
    padding-top: 40px;
  }
  /* SaaSpot Affiliate Page CSS */
  .report-info {
    padding: 0 0 30px;
  }
  .perks-info {
    padding: 0 0 40px;
  }
  .question-item, 
  .question-item.question-spacer-two {
    padding: 0;
  }
  /* SaaSpot Agencies Page CSS */
  .saspot-page-title.page-title-style-two {
    padding-top: 70px;
  }
  .saspot-page-title .saspot-image {
    padding-top: 50px;
  }
  .dashboard-info {
    padding: 0 0 10px;
  }
  .analytics-inner {
    max-width: 680px;
  }
  /* SaaSpot Android App Page CSS */
  .saspot-page-title h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .saspot-download h2 {
    font-size: 24px;
  }
  .feature-step-wrap {
    padding-right: 0;
  }
  .feature-step-wrap .saspot-image {
    padding-top: 20px;
    text-align: center;
  }
  .enterprises-style-two .enterprises-wrap {
    padding: 70px 50px;
  }
  /* SaaSpot Api Page CSS */
  .saspot-api .textright {
    text-align: left;
  }
  .api-info {
    padding: 0 0 50px;
  }
  /* SaaSpot Apply Job Page CSS */
  .job-details h2 {
    font-size: 32px;
  }
  /* SaaSpot Apps Page CSS */
  .masonry-filters {
    font-size: 16px;
  }
  /* SaaSpot Careers Page CSS */
  .saspot-banner.banner-style-two {
    height: 500px;
  }
  .banner-style-two .banner-caption h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .testimonials-style-two .testimonials-wrap br {
    display: none;
  }
  /* SaaSpot Careers Specialisation Page CSS */
  .banner-style-three .banner-caption h1 {
    font-size: 36px;
  }
  .values-wrap {
    padding-top: 50px;
  }
  .saspot-video {
    height: 450px;
  }
  .saspot-includes .textright {
    text-align: left;
  }
  .includes-info {
    padding-bottom: 40px;
  }
  .saspot-join h2 {
    font-size: 32px;
  }
  /* SaaSpot Company Values Page CSS */
  .saspot-banner.banner-style-four {
    height: 450px;
  }
  .saspot-background.background-style-two {
    min-height: 400px;
  }
  .identify-item {
    max-width: 585px;
    margin: 0 auto 30px;
  }
  .identify-info h2 {
    font-size: 28px;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-info {
    padding: 0 0 20px;
  }
  .guide-info h2 {
    font-size: 30px;
  }
  .saspot-guide [class*="order-"] .guide-info {
    padding: 0 0 20px;
    text-align: left;
  }
  .saspot-guide [class*="order-"] .nav-link {
    min-width: 10px;
    max-width: 360px;
    padding: 14px 45px 14px 30px;
    margin-left: 0;
  }
  .saspot-guide [class*="order-"] .nav-link:before {
    right: 20px;
    left: auto;
    content: "\f105";
  }
  /* SaaSpot Email Marketing Page CSS */
  .card-header h4 {
    font-size: 18px;
  }
  .video-wrap h2 {
    font-size: 30px;
    line-height: 38px;
  }
  /* SaaSpot Enterprises Page CSS */
  .promo-info h2, 
  .step-info h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .steps-style-two .step-item .textright {
    text-align: left;
  }
  .steps-style-two .step-info {
    padding: 30px 0 0;
  }
  .video-style-three .video-wrap h2 {
    font-size: 34px;
    line-height: 42px;
  }
  /* SaaSpot Free Trial Page CSS */
  .trial-form {
    padding: 50px;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .steps-style-four .textright {
    text-align: left;
  }
  .promoting-style-two .arrow-wrap {
    display: none;
  }
  .market-type {
    padding: 40px;
  }
  .market-wrap h2 {
    font-size: 28px;
  }
  .saspot-market-types:before {
    width: 60px;
    height: 60px;
    padding: 18px;
    font-size: 18px;
  }
  /* SaaSpot Marketing Automation Page CSS */
  .common-feature-item {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
  }
  .market-types-style-two .market-wrap {
    max-width: none;
  }
  .service-item {
    padding-left: 0;
    padding-right: 0;
  }
  .saspot-market-automation .saspot-link-wrap {
    padding: 5px 0 20px;
  }
  .market-types-style-two:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
  }
  .market-types-style-two .market-wrap h2 {
    font-size: 30px;
    line-height: 38px;
  }
  /* SaaSpot Our Story Page CSS */
  .saspot-branches .section-title-wrap {
    padding: 0;
  }
  .map-wrap {
    margin-top: 40px;
  }
  .saspot-team {
    padding: 80px 0;
  }
  /* SaaSpot Personal Plan Page CSS */
  .navigation-wrap .saspot-navigation {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  .pricing-style-two {
    margin: 20px 0 0;
  }
  .price-top-wrap h2 {
    font-size: 55px;
    line-height: 55px;
  }
  /* SaaSpot Single App Page CSS */
  .steps-style-eight .step-info {
    padding: 30px 0 0;
  }
  .apps-items-wrap .app-item {
    max-width: 300px;
    margin-bottom: 30px;
  }
  /* SaaSpot Single Service Page CSS */
  .no-cost-info {
    padding: 10px 0 0;
    margin: 0;
    border-left: none;
  }
  .steps-style-nine .textright {
    text-align: left;
  }
  /* SaaSpot Sitemap Page CSS */
  .bullet-list {
    padding-left: 10px;
  }
  .saspot-sitemap {
    padding: 40px 40px 20px;
  }
  /* SaaSpot Webinars Page CSS */
  .webinars-wrap .webinars-inner-wrap {
    padding: 30px;
    margin-top: 30px;
  }
  .webinar-item {
    padding-top: 30px;
    margin-top: 30px;
  }
  .webinar-info {
    padding: 0 0 0 30px;
  }
  .masonry-filters.filters-style-two ul li {
    padding: 0 15px;
  }
  /* SaaSpot Windows Page CSS */
  .saspot-steps.steps-style-five .step-info {
    padding-top: 30px;
  }
  .steps-style-five .textright {
    text-align: left;
  }
  .saspot-dashboard {
    padding: 60px 15px;
  }
  .saspot-login-signup .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .saspot-losi-wrap {
    max-width: 560px;
    margin: 0 auto;
  }
  .saspot-losi-wrap:after {
    content: none;
  }
  .stats-item:after {
    display: none;
  }
  .no-cost-title,
  .no-cost-wrap .saspot-icon {
    text-align: center;
    display: block;
  }
  .gdpr-privacy-bar.saspot-cookies {
    padding-left: 22px;
  }
  .gdpr.gdpr-privacy-bar.saspot-cookies .gdpr-wrapper .gdpr-right,
  .gdpr.gdpr-privacy-bar.saspot-cookies .gdpr-wrapper .gdpr-content {
    max-width: 100%;
  }
  .address-item {
    height: 400px;
  }
}

@media screen and (max-width:800px) {
  /* SaaSpot Normal CSS */
  .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.6);
  }
  .mfp-close:active {
    top: 0;
  }
  .mfp-close:before, 
  .mfp-close:after {
    top: 9px;
    left: 16px;
  }
  .mfp-arrow-left {
    left: 15px;
  }
  .mfp-arrow-right {
    right: 26px;
  }
  .mfp-image-holder .mfp-close, 
  .mfp-iframe-holder .mfp-close {
    position: fixed;
    top: 0;
    width: 35px;
  }
}

@media screen and (max-width:767px) {
  .saspot-topbar .textright {
    text-align: center;
  }
  /* SaaSpot Normal CSS */
  p {
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 26px;
  }
  .saspot-page-title p, 
  .section-title-wrap p, 
  .step-info p, 
  .question-item p, 
  .analytics-inner p, 
  .callout-style-three .section-title-wrap p, 
  .job-details p, 
  .identify-info p, 
  .guide-info p, 
  .guide-details ul li p, 
  .card-body p, 
  .saspot-losi-wrap .section-title-wrap p,
  .promo-info p {
    font-size: 15px;
    line-height: 26px;
  }
  h1, 
  .h1 {
    font-size: 30px;
  }
  h2, 
  .h2 {
    font-size: 26px;
  }
  h3, 
  .h3 {
    font-size: 20px;
  }
  textarea, 
  textarea.form-control {
    height: 120px;
  }
  form input, 
  form textarea, 
  form select {
    margin-bottom: 15px;
  }
  .saspot-topbar {
    padding: 15px 25px;
    text-align: center;
  }
  .saspot-topbar ul {
    text-align: center;
  }
  .saspot-topbar > ul > li {
    margin: 0 10px;
  }
  .saspot-topbar ul.sub-dropdown {
    text-align: left;
  }
  .saspot-toggle {
    margin-left: 0;
  }
  .free-trial {
    padding-bottom: 0;
  }
  .header-btn {
    display: none;
  }
  .saspot-banner {
    height: 500px;
  }
  .banner-caption p {
    font-size: 16px;
    line-height: 28px;
  }
  .banner-caption p br, 
  .step-title br {
    display: none;
  }
  .banner-caption h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .banner-caption .saspot-btn-wrap {
    padding-top: 0;
  }
  .banner-caption .saspot-btn {
    padding: 15px 25px;
  }
  .banner-title {
    padding: 12px 0 7px;
  }
  .section-title-wrap {
    padding-bottom: 15px;
  }
  .section-title-wrap br {
    display: none;
  }
  .section-title-wrap h2, 
  .sharing-info h2, 
  .step-info h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .section-title, 
  .sharing-title {
    padding-bottom: 10px;
  }
  .enterprises-wrap {
    padding: 50px 25px 0;
  }
  .enterprises-info {
    max-width: 100%;
    padding-bottom: 25px;
  }
  .enterprises-info h2 {
    font-size: 26px;
  }
  .saspot-steps {
    padding: 30px 0;
  }
  .step-item {
    padding: 20px 0;
  }
  .step-item + .step-item {
    padding-top: 5px;
  }
  .step-info .saspot-link-wrap {
    padding-top: 5px;
  }
  .step-title {
    padding-bottom: 5px;
  }
  .check-list li {
    padding-bottom: 10px;
  }
  .saspot-callout, 
  .saspot-callout[class*="callout-style-"] {
    padding: 50px 0;
  }
  .callout-wrap .saspot-btn-wrap, 
  .create-account {
    padding-top: 10px;
  }
  .footer-wrap {
    padding: 50px 0 25px;
  }
  .footer-widget {
    padding-bottom: 25px;
  }
  .footer-widget .widget-title {
    padding-bottom: 10px;
  }
  .saspot-copyright {
    padding: 25px 0;
    text-align: center;
  }
  .saspot-copyright [class*="col-"] {
    padding: 10px 0;
  }
  .saspot-copyright .textright {
    text-align: center;
  }
  .nav {
    font-size: 18px;
  }
  .nav-link, 
  .saspot-guide [class*="order-"] .nav-link {
    padding: 10px 45px 10px 20px;
  }
  .nav-link:before {
    font-size: 16px;
  }
  .saspot-cookies {
    padding: 15px 25px;
  }
  .saspot-cookies p {
    padding-left: 10px;
  }
  .cookies-link-wrap {
    padding-left: 47px;
  }
  /* SaaSpot Home Page CSS */
  .looking-item {
    padding: 25px;
    margin-bottom: 25px;
  }
  .looking-item .saspot-icon {
    padding-bottom: 15px;
  }
  .looking-item .saspot-btn-wrap, 
  .sharing-info .saspot-btn-wrap {
    padding-top: 10px;
  }
  .looking-title {
    padding-bottom: 8px;
  }
  .features-link {
    padding-top: 5px;
    font-size: 16px;
  }
  .features-link .saspot-link {
    font-size: 16px;
  }
  .sharing-info {
    padding-top: 25px;
  }
  .sharing-info .saspot-icon {
    padding-bottom: 15px;
  }
  .tool-item {
    padding: 20px 0 15px;
  }
  .tool-item:first-child {
    padding-top: 0;
  }
  .saspot-price [class*="col-"]:last-child .price-item {
    border-bottom: none;
  }
  .price-item {
    text-align: left;
    border-bottom: 1px solid #d4ddf3;
    border-right: none;
  }
  .price-title {
    padding: 12px 25px 14px;
  }
  .price-info {
    padding: 19px 25px 15px;
  }
  .saspot-page-title {
    padding: 50px 0 40px;
  }
  .saspot-page-title h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .bullet-list {
    padding: 0;
    font-size: 15px;
  }
  .bullet-list li {
    padding: 0 0 10px 18px;
  }
  /* SaaSpot Affiliate Page CSS */
  .arrow-wrap {
    display: none;
  }
  .promote-item {
    padding-bottom: 20px;
  }
  .promote-item .saspot-icon {
    margin-bottom: 10px;
  }
  .promote-item h3 {
    font-size: 20px;
  }
  .saspot-promoting .saspot-btn-wrap {
    padding-top: 0;
  }
  .saspot-commission .section-title-wrap {
    padding-bottom: 15px;
  }
  .commission-item h4 {
    font-size: 18px;
  }
  .commission-title {
    padding: 10px 20px;
  }
  .commission-info {
    padding: 5px 20px 10px;
  }
  .commission-info ul {
    font-size: 15px;
  }
  .commission-info ul li {
    padding: 6px 0;
  }
  .saspot-perks {
    padding: 50px 0 40px;
  }
  .perks-info {
    padding-bottom: 30px;
  }
  .perks-info .saspot-btn-wrap {
    padding-top: 0;
  }
  .saspot-questions .section-title-wrap {
    padding-bottom: 15px;
  }
  .question-item {
    margin-bottom: 15px;
  }
  .question-title {
    padding-bottom: 8px;
  }
  .question-link {
    padding-top: 20px;
    margin-top: 5px;
  }
  /* SaaSpot Agencies Page CSS */
  .saspot-page-title.page-title-style-two {
    padding-top: 50px;
  }
  .saspot-page-title .saspot-image {
    padding-top: 30px;
  }
  .page-title-wrap .saspot-btn-wrap {
    padding-top: 10px;
  }
  .saspot-agencies {
    padding: 50px 0 30px;
  }
  .agency-item {
    padding: 20px 15px 10px;
  }
  .agency-item .saspot-icon {
    padding-bottom: 10px;
  }
  .saspot-dashboard .section-title {
    padding-bottom: 10px;
  }
  .saspot-dashboard .section-title-wrap {
    padding-bottom: 15px;
  }
  .saspot-dashboard .section-title-wrap h2 {
    line-height: 36px;
  }
  .testimonial-info p {
    font-size: 16px;
    line-height: 26px;
  }
  .trial-wrap {
    padding: 20px 20px 30px;
  }
  .checkbox-wrap {
    padding: 0 0 15px;
  }
  .saspot-resources {
    padding: 50px 0 20px;
  }
  .resource-item {
    margin-bottom: 30px;
  }
  .resource-item .saspot-image {
    padding-bottom: 20px;
  }
  .resource-item h3 {
    font-size: 20px;
  }
  .resource-item p {
    padding-bottom: 10px;
  }
  .resource-title {
    padding-bottom: 5px;
  }
  .saspot-background {
    min-height: 300px;
  }
  .analytics-info {
    padding: 30px 25px 50px;
  }
  .analytics-inner h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .analytics-inner .saspot-icon, 
  .analytics-title {
    padding-bottom: 10px;
  }
  .analytics-inner p {
    padding-bottom: 10px;
  }
  .analytics-inner .saspot-link-wrap {
    padding-top: 8px;
  }
  .testimonial-author-wrap .saspot-image {
    padding-bottom: 10px;
  }
  .saspot-clients .section-title-wrap h2 {
    font-size: 30px;
  }
  /* SaaSpot Android App Page CSS */
  .saspot-page-title.page-title-style-three {
    background-position: 50% 90px;
    text-align: center;
  }
  .page-title-style-three .textright {
    text-align: center;
  }
  .page-title-style-three .page-title-wrap {
    padding-top: 0;
  }
  .feature-item {
    padding: 25px 20px 15px;
  }
  .saspot-download {
    padding: 50px 0;
    text-align: center;
  }
  .saspot-download .textright {
    text-align: center;
  }
  .saspot-download h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .download-title {
    padding: 15px 0 20px;
  }
  .feature-step-wrap {
    padding-top: 20px;
  }
  .feature-step-info .saspot-link-wrap {
    padding-top: 0;
  }
  .enterprises-style-two .enterprises-wrap {
    padding: 50px 25px;
  }
  /* SaaSpot Api Page CSS */
  .api-info {
    padding-bottom: 30px;
  }
  .api-info .section-title-wrap h2 {
    line-height: 36px;
  }
  .api-info .section-title {
    padding-bottom: 10px;
  }
  .api-info .saspot-link-wrap {
    padding-top: 0;
  }
  .saspot-features.features-style-two {
    padding: 50px 0 20px;
  }
  /* SaaSpot Api Page CSS */
  .page-title-style-five .page-title {
    padding-bottom: 8px;
  }
  .page-title-style-five h3 {
    font-size: 20px;
  }
  .job-details h2 {
    font-size: 26px;
  }
  .job-details .job-title {
    padding-bottom: 8px;
  }
  .job-details p {
    padding-bottom: 10px;
  }
  .job-eligible {
    padding-top: 15px;
  }
  .job-subtitle {
    padding-bottom: 10px;
  }
  .job-form {
    padding-top: 25px;
  }
  .job-label {
    padding: 10px 0 6px;
  }
  .job-form p {
    padding-bottom: 0;
  }
  .job-form input[type="submit"], 
  .job-form button[type="submit"] {
    margin-top: 10px;
  }
  /* SaaSpot Apps Page CSS */
  .saspot-apps {
    padding: 50px 0 20px;
  }
  .categories-title {
    padding-bottom: 15px;
  }
  .masonry-filters {
    margin-bottom: 30px;
  }
  .masonry-filters ul li a {
    padding-left: 20px;
  }
  .app-info {
    padding: 18px 20px 10px;
  }
  .app-info h4 {
    font-size: 18px;
  }
  .app-title {
    padding-bottom: 5px;
  }
  .masonry-item {
    padding-bottom: 30px;
  }
  /* SaaSpot Careers Page CSS */
  .saspot-banner.banner-style-two {
    height: 400px;
  }
  .banner-style-two .banner-caption {
    text-align: center;
  }
  .banner-style-two .banner-caption h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .banner-style-two .video-btn {
    margin-top: 15px;
  }
  .video-btn {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
  .specialist-item {
    max-width: 373px;
    margin: 0 auto 30px;
  }
  .specialist-info {
    padding: 10px 10px 5px;
  }
  .saspot-specialisation .saspot-btn-wrap {
    padding-top: 0;
  }
  .masonry-item[class*="custom-width"] {
    width: 50%;
  }
  .saspot-environment {
    padding: 50px 0 25px;
  }
  .saspot-environment ~ .saspot-jobs {
    padding-top: 0;
  }
  .saspot-jobs {
    padding-bottom: 50px;
  }
  .job-item {
    padding: 25px;
    text-align: center;
  }
  .job-item p {
    padding-bottom: 6px;
  }
  .job-btn {
    padding-top: 15px;
    text-align: center;
  }
  .jobs-wrap .saspot-btn-wrap {
    padding-top: 20px;
  }
  .testimonials-style-two .testimonials-wrap .saspot-icon {
    padding-bottom: 15px;
  }
  .testimonials-style-two .testimonials-wrap p {
    font-size: 18px;
    line-height: 28px;
  }
  .testimonials-style-two .author-name {
    padding-top: 20px;
    margin-top: 10px;
  }
  .saspot-services {
    padding: 50px 0 20px;
  }
  .service-item {
    padding: 0 0 20px;
  }
  /* SaaSpot Careers Specialisation Page CSS */
  .saspot-banner.banner-style-three {
    height: 400px;
  }
  .banner-style-three .banner-caption h1 {
    font-size: 30px;
  }
  .banner-style-three .banner-title {
    padding-bottom: 10px;
  }
  .saspot-values {
    padding: 50px 0 20px;
  }
  .values-info {
    padding: 20px;
  }
  .values-info .section-title {
    padding-bottom: 10px;
  }
  .values-info .saspot-btn-wrap {
    padding-top: 0;
  }
  .values-wrap {
    padding-top: 30px;
  }
  .value-title {
    padding-bottom: 5px;
  }
  .value-item h3 {
    font-size: 20px;
  }
  .saspot-video {
    height: 350px;
  }
  .saspot-includes {
    padding: 50px 0;
  }
  .includes-info {
    padding-bottom: 30px;
  }
  .includes-info .section-title-wrap {
    padding-bottom: 15px;
  }
  .saspot-specialisation.specialisation-style-two {
    padding: 50px 0 20px;
  }
  .saspot-jobs.jobs-style-two {
    padding-top: 50px;
  }
  .saspot-join h2 {
    font-size: 26px;
  }
  .saspot-join {
    padding: 0 0 50px;
  }
  .saspot-join .saspot-btn-wrap {
    padding-top: 8px;
  }
  /* SaaSpot Classes Page CSS */
  .saspot-page-title.page-title-style-six {
    padding-bottom: 40px;
  }
  .saspot-classes, 
  .saspot-classes.classes-style-two, 
  .saspot-indepth {
    padding: 50px 0 20px;
  }
  .class-item {
    padding-bottom: 30px;
  }
  .classes-style-two .class-item {
    padding: 25px;
  }
  .indepth-item {
    margin-bottom: 30px;
  }
  .class-item .saspot-icon {
    padding-bottom: 10px;
  }
  /* SaaSpot Company Values Page CSS */
  .saspot-corporate, 
  .saspot-identifying {
    padding: 50px 0 20px;
  }
  .corporate-item {
    padding: 25px 25px 15px;
    margin-bottom: 30px;
  }
  .corporate-title {
    padding-bottom: 8px;
  }
  .corporate-info {
    padding-left: 15px;
  }
  .corporate-info h3 {
    font-size: 20px;
  }
  .saspot-background.background-style-two {
    min-height: 300px;
  }
  .identify-info {
    padding: 25px;
  }
  .identify-info h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .identify-title {
    padding-bottom: 8px;
  }
  .identify-info .saspot-link-wrap {
    padding-top: 5px;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-info-item ul {
    font-size: 16px;
  }
  .guide-details.details-spacer-two {
    padding: 20px;
  }
  .guide-details ul li {
    padding: 10px 0 0;
  }
  .saspot-menu ul li a {
    padding: 15px 13px;
  }
  .guide-info h2 {
    font-size: 26px;
  }
  .guide-title {
    padding-bottom: 8px;
  }
  .guide-title br {
    display: none;
  }
  .guide-label {
    padding-bottom: 5px;
  }
  .guide-label .icon-linea {
    font-size: 20px;
  }
  .guide-info .nav-tabs {
    padding-top: 15px;
  }
  .guide-main-title {
    padding: 10px;
  }
  .guide-info-wrap h3 {
    font-size: 20px;
  }
  .guide-info-wrap .saspot-btn, 
  .guide-wrap .saspot-btn {
    padding: 15px;
  }
  /* SaaSpot Comparision 02 Page CSS */
  .table thead th {
    font-size: 16px;
  }
  .table th.guide-main-label, 
  .table td.guide-wrap-title, 
  .table td, 
  .table th {
    padding-left: 20px;
    padding-right: 20px;
  }
  .table tbody tr:first-child td {
    padding-top: 15px;
  }
  .table tbody tr:last-child td {
    padding-bottom: 15px;
  }
  .table td.guide-wrap-title, 
  .table td p {
    font-size: 16px;
  }
  /* SaaSpot Content Cross Check Page CSS */
  .saspot-unit-fix .entry-content .comment-list article, 
  .saspot-unit-fix .entry-content .comment-list .pingback, 
  .saspot-unit-fix .entry-content .comment-list .trackback {
    padding: 15px 0 20px;
  }
  .entry-content dd {
    margin-bottom: 10px;
  }
  .wp-caption {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .entry-content .saspot-responsive-table {
    white-space: nowrap;
  }
  .entry-content .comment-list article, 
  .entry-content .comment-list .pingback, 
  .entry-content .comment-list .trackback {
    padding: 20px 0;
  }
  .entry-content .comment-content ul, 
  .entry-content .comment-content ol {
    margin: 0 0 10px 0;
  }
  .entry-content .comment-metadata {
    margin-bottom: 5px;
  }
  .entry-content .comment-list .comment-reply-link {
    margin-top: 0;
  }
  .entry-content .comment-list .children {
    padding-left: 0;
  }
  .entry-content .comment-notes, 
  .entry-content .comment-awaiting-moderation, 
  .entry-content .logged-in-as, 
  .entry-content .form-allowed-tags {
    padding-bottom: 10px;
  }
  .comment-subscription-form label {
    font-size: 12px;
  }
  /* SaaSpot Email Marketing Page CSS */
  .saspot-marketing .section-title-wrap {
    padding-bottom: 15px;
  }
  .marketing-year:before {
    top: 38px;
  }
  .marketing-year {
    margin-top: 30px;
  }
  .year-wrap {
    width: 75px;
    height: 75px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .marketing-item h3 {
    font-size: 20px;
  }
  .marketing-item {
    padding: 0 0 20px;
  }
  .marketing-year .saspot-btn-wrap {
    padding-top: 0;
  }
  .saspot-campaign, 
  .saspot-benefits {
    padding: 50px 0 20px;
  }
  .campaign-item .saspot-icon {
    padding-bottom: 8px;
  }
  .campaign-title, 
  .benefit-title {
    padding-bottom: 5px;
  }
  .benefit-item {
    padding-bottom: 20px;
  }
  .benefit-item .saspot-icon {
    margin-bottom: 8px;
  }
  .benefit-item h3 {
    font-size: 20px;
  }
  .card-header h4 {
    font-size: 16px;
  }
  .accordion-title a {
    padding: 14px 40px 14px 20px;
  }
  .accordion-title a:before {
    right: 15px;
  }
  .card-body {
    padding: 0 40px 20px 20px;
  }
  .video-wrap h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .video-title {
    padding-top: 20px;
  }
  .saspot-resources.resources-style-two {
    padding-bottom: 20px;
  }
  .campaign-item h3 {
    font-size: 20px;
  }
  /* SaaSpot Enterprises Page CSS */
  .saspot-promo [class*="col-"] {
    border-right: none;
  }
  .promo-info {
    padding: 0;
  }
  .promo-info.promo-spacer {
    padding: 20px 0 0;
  }
  .promo-title {
    padding-bottom: 8px;
  }
  .promo-info .saspot-link-wrap {
    padding-top: 5px;
  }
  .testimonials-style-three .testimonials-wrap {
    padding: 30px;
    max-width: none;
  }
  .testimonials-style-three .testimonials-wrap p {
    font-size: 20px;
    line-height: 30px;
  }
  .testimonials-style-three .testimonials-wrap h5 {
    font-size: 16px;
  }
  .testimonials-style-three .author-name {
    padding-top: 25px;
  }
  .testimonials-style-three .author-name:before {
    top: 10px;
  }
  .features-style-three .feature-item {
    margin-bottom: 20px;
  }
  .features-style-three .feature-item .saspot-icon {
    margin-bottom: 8px;
  }
  .features-style-three .feature-title {
    max-width: none;
    padding-bottom: 8px;
  }
  .saspot-steps.steps-style-two {
    padding: 50px 0 25px;
  }
  .steps-style-two .step-item {
    padding: 0 0 25px;
  }
  .steps-style-two .step-info {
    padding-top: 15px;
  }
  .step-info .bullet-list {
    padding: 5px 0 0;
  }
  .saspot-clients.clients-style-two {
    border-width: 5px;
  }
  .saspot-clients.clients-style-two {
    padding: 50px 0 20px;
  }
  .clients-style-two .section-title-wrap {
    padding-bottom: 15px;
  }
  .clients-style-two .client-item {
    padding-bottom: 30px;
  }
  .resources-wrap {
    padding: 0 20px;
  }
  .resource-list {
    padding: 20px 0;
    text-align: center;
  }
  .resource-list .saspot-image {
    text-align: center;
  }
  .resource-list .resource-info {
    padding-top: 10px;
  }
  .resource-list h4 {
    font-size: 20px;
  }
  .resource-list .resource-title {
    padding-bottom: 8px;
  }
  .saspot-resources.resources-style-three {
    padding-bottom: 50px;
  }
  .saspot-video.video-style-three {
    padding: 50px 0;
  }
  .video-style-three .video-wrap h2 {
    font-size: 26px;
    line-height: 34px;
  }
  /* SaaSpot Events Page CSS */
  .event-conference {
    padding-top: 15px;
    margin-top: 10px;
  }
  .saspot-conference .section-title-wrap {
    padding-bottom: 15px;
  }
  .saspot-conference-places {
    padding: 50px 0 20px;
  }
  .place-item {
    max-width: 370px;
    margin: 0 auto 30px;
  }
  .saspot-questions.questions-style-two {
    padding-bottom: 25px;
  }
  .place-info {
    padding: 20px 20px 10px;
  }
  .place-info h4 {
    font-size: 20px;
  }
  .place-subtitle {
    padding-bottom: 8px;
  }
  /* SaaSpot Enterprises Page CSS */
  .saspot-extensions {
    padding: 50px 0 20px;
  }
  .extension-wrap {
    padding: 25px 20px 15px;
  }
  .extension-item {
    margin-bottom: 30px;
  }
  .extension-wrap .saspot-image {
    padding-bottom: 10px;
  }
  .extension-wrap h4 {
    font-size: 20px;
  }
  .testimonials-style-three .owl-carousel .owl-nav {
    display: inline-block;
    padding: 0;
  }
  .testimonials-style-three .owl-carousel .owl-nav button.owl-prev, 
  .testimonials-style-three .owl-carousel .owl-nav button.owl-next {
    width: 25px;
  }
  /* SaaSpot Free Trial Page CSS */
  .saspot-free-trial {
    padding: 0 0 25px;
  }
  .trial-form {
    padding: 20px;
  }
  .trial-form + .testimonials-style-four {
    padding-top: 50px;
  }
  /* SaaSpot How It Works Page CSS */
  .saspot-work-way {
    padding: 50px 0 30px; 
  }
  .work-way-item {
    padding: 5px 0;
  }
  .work-way-title {
    max-width: none;
    padding-bottom: 5px;
  }
  .work-way-item h5 {
    font-size: 20px;
  }
  .saspot-process {
    padding: 50px 0 20px;
  }
  .saspot-process .section-title-wrap {
    padding-bottom: 15px;
  }
  .process-item {
    padding: 27px 0 30px 140px;
  }
  .process-item:nth-child(2n) {
    padding: 25px 140px 30px 0;
  }
  .process-info p {
    font-size: 15px;
  }
  .process-info h3 {
    font-size: 22px;
  }
  .process-title {
    padding-bottom: 5px;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .saspot-steps.steps-style-four {
    padding: 30px 0;
  }
  .step-info .saspot-btn-wrap {
    padding-top: 10px;
  }
  .market-type {
    padding: 40px 25px;
  }
  .market-wrap {
    max-width: 510px;
  }
  .market-wrap h2 {
    font-size: 24px;
  }
  .market-wrap .saspot-icon {
    padding-bottom: 13px;
  }
  .market-wrap .bullet-list {
    padding-top: 8px;
    font-size: 16px;
  }
  .market-wrap .bullet-list li {
    padding-left: 25px;
  }
  .market-wrap .saspot-link-wrap {
    padding-top: 15px;
  }
  .saspot-promoting.promoting-style-two {
    padding-bottom: 20px;
  }
  .saspot-market-examples {
    padding: 50px 0 20px;
  }
  .market-example-title {
    padding-bottom: 5px;
  }
  .market-example-info {
    padding-top: 13px;
  }
  .market-example-item {
    padding-bottom: 20px;
  }
  .saspot-market-role {
    padding: 50px 0 30px;
  }
  .saspot-market-role .section-title-wrap h2 {
    line-height: 36px;
  }
  .saspot-market-role .section-title {
    padding-bottom: 8px;
  }
  .saspot-market-role .saspot-link-wrap {
    padding-top: 5px;
  }
  .market-role-item {
    padding: 20px;
    margin: 0 auto 20px;
  }
  .saspot-resources.resources-style-four {
    padding-bottom: 20px;
  }
  .resource-item .saspot-btn-wrap {
    padding-top: 5px;
  }
  .callout-style-eight .section-title-wrap {
    text-align: center;
  }
  .callout-style-eight .saspot-btn-wrap {
    padding-top: 15px;
    text-align: center;
  }
  /* SaaSpot Ios App Page CSS */
  .callout-style-ten .callout-wrap .saspot-btn-wrap {
    padding-top: 10px;
  }
  /* SaaSpot Mac Page CSS */
  .saspot-steps.steps-style-five {
    padding: 30px 0;
  }
  /* SaaSpot Marketing Automation Page CSS */
  .saspot-features.features-style-four .feature-item {
    margin-bottom: 20px;
    text-align: center;
  }
  .features-style-four .feature-item .saspot-icon {
    text-align: center;
  }
  .saspot-market-automation .saspot-image {
    padding-top: 5px;
  }
  .saspot-features.features-style-four {
    padding-bottom: 50px;
  }
  .saspot-steps.steps-style-six {
    padding: 50px 0 30px;
  }
  .steps-style-six .step-item {
    padding: 0 0 20px;
  }
  .saspot-common-feature {
    padding: 50px 0 20px;
  }
  .common-feature-item {
    padding: 0 15px;
  }
  .common-feature-inner {
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .common-feature-item {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .market-types-style-two .market-type {
    padding: 50px 0;
  }
  .market-types-style-two .market-title, 
  .market-types-style-two .market-wrap .saspot-icon {
    padding-bottom: 8px;
  }
  .market-types-style-two .market-wrap .saspot-link-wrap {
    padding-top: 10px;
  }
  .features-style-four .saspot-btn-wrap {
    padding-top: 0;
  }
  /* SaaSpot Our Story Page CSS */
  .history-wrap p {
    font-size: 16px;
  }
  .history-quality {
    padding-top: 15px;
  }
  .saspot-branches .saspot-link-wrap {
    padding-top: 10px;
  }
  .map-wrap {
    margin-top: 30px;
  }
  .location-item {
    display: none;
  }
  .saspot-mates {
    padding: 50px 0 20px;
  }
  .mate-item {
    padding-bottom: 25px;
  }
  .mate-info {
    padding-top: 15px;
  }
  .mate-info h5 {
    font-size: 20px;
  }
  .saspot-team {
    padding: 50px 0;
  }
  .team-wrap {
    max-width: none;
    padding: 30px;
  }
  .team-wrap h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .team-wrap h5 {
    font-size: 20px;
  }
  .team-wrap .saspot-btn-wrap {
    padding-top: 10px;
  }
  .saspot-stats {
    padding: 50px 0 20px;
  }
  .saspot-stats .section-title-wrap h2 {
    font-size: 28px;
  }
  .saspot-stats .section-title {
    padding-bottom: 10px;
  }
  .saspot-stats .section-title-wrap {
    padding-bottom: 15px;
  }
  .stats-item {
    margin-bottom: 20px;
  }  
  .stats-item h3 {
    font-size: 34px;
    line-height: 42px;
  }
  /* SaaSpot Personal Plan Page CSS */
  .plan-feature-item {
    padding-top: 10px;
  }
  .plan-feature-title {
    padding-bottom: 10px;
  }
  .plan-feature-item .wpcf7-list-item-label.additional-features {
    margin-bottom: 0;
  }
  .pricing-style-two {
    margin-top: 10px;
  }
  .price-top-wrap, 
  .pricing-style-two .price-info {
    padding: 25px 25px 15px;
  }
  .price-top-wrap h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .pricing-plan .nav {
    margin-bottom: 25px;
  }
  /* SaaSpot Request A Demo Page CSS */
  .navigation-wrap {
    padding: 50px 25px 10px;
  }
  .close-btn {
    top: 20px;
    right: 20px;
  }
  .request-form {
    padding-top: 40px;
  }
  .request-form .section-title-wrap {
    padding-bottom: 10px;
  }
  .request-form .saspot-btn {
    margin-top: 10px;
  }
  .request-bottom-wrap {
    padding-top: 20px;
  }
  .full-page-wrap {
    padding: 30px 25px 40px;
  }
  /* SaaSpot Single App Page CSS */
  .saspot-steps.steps-style-seven, 
  .saspot-steps.steps-style-eight {
    padding: 30px 0;
  }
  .saspot-use-step .saspot-icon {
    margin-bottom: 10px;
  }
  .saspot-integrations .section-title-wrap {
    padding-bottom: 15px;
  }
  .steps-style-eight .step-item {
    padding: 20px 0;
  }
  .steps-style-eight .step-info {
    padding-top: 20px;
  }
  .campaign-style-two .campaign-item {
    padding: 25px 20px 15px;
  }
  .campaign-style-two .campaign-item .saspot-icon {
    padding-bottom: 10px;
  }
  .saspot-apps.apps-style-two {
    padding: 50px 0 20px;
  }
  .apps-items-wrap .app-item {
    margin: 0 auto 30px;
  }
  .apps-style-two .section-title-wrap {
    padding-bottom: 15px;
  }
  /* SaaSpot Single Service Page CSS */
  .chat-support-wrap {
    padding: 10px 0 0;
  }
  .chat-support-item {
    padding: 20px 0 10px;
  }
  .chat-support-info {
    padding-left: 20px;
  }
  .saspot-no-cost {
    padding: 50px 0 40px;
  }
  .no-cost-wrap h2 {
    font-size: 26px;
  }
  .saspot-features .owl-carousel .feature-item {
    margin-bottom: 10px;
    text-align: center;
  }
  .saspot-features .owl-carousel .feature-item .saspot-icon {
    text-align: center;
  }
  .owl-carousel .owl-dots {
    padding-top: 10px;
  }
  .saspot-features.features-style-five {
    padding-bottom: 50px;
  }
  .features-style-five .owl-carousel .owl-dots {
    padding-top: 0;
  }
  .saspot-steps.steps-style-nine {
    padding-top: 30px;
  }
  /* SaaSpot Sitemap Page CSS */
  .bullet-list {
    padding-left: 0;
  }
  .sitemap-item .bullet-list li {
    padding: 0 0 8px 15px;
  }
  .sitemap-item {
    padding-bottom: 15px;
  }
  .saspot-sitemap {
    padding: 25px 25px 5px;
    margin: 0;
  }
  .sitemap-item-title {
    padding-bottom: 10px;
  }
  /* SaaSpot Webinars Page CSS */
  .saspot-webinars .section-title-wrap {
    padding-bottom: 10px;
  }
  .masonry-filters.filters-style-two {
    margin-bottom: 15px;
  }
  .masonry-filters.filters-style-two ul li {
    padding: 0 10px;
  }
  .masonry-filters.filters-style-two ul li a {
    padding: 8px 0;
  }
  .webinars-wrap .webinars-inner-wrap {
    padding: 25px;
    margin-top: 20px;
  }
  .webinar-item {
    padding-top: 25px;
    margin-top: 20px;
  }
  .webinar-item .saspot-image {
    float: none;
  }
  .webinar-info {
    padding: 15px 0 0;
  }
  .webinar-info h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .webinar-title {
    padding-bottom: 5px;
  }
  .webinar-info .saspot-link-wrap {
    padding-top: 0;
  }
  .saspot-market-examples.examples-style-two {
    padding: 50px 0 20px;
  }
  .examples-style-two .market-example-info {
    padding: 20px 0 0;
  }
  .examples-style-two .saspot-label {
    margin-bottom: 5px;
  }
  .download-guide-wrap .saspot-icon {
    padding-bottom: 20px;
  }
  .download-guide-wrap .section-title, 
  .download-guide-wrap .section-title-wrap {
    padding-bottom: 10px;
  }
  .download-guide-wrap input[type="submit"], 
  .download-guide-wrap button[type="submit"] {
    margin-top: 10px;
  }
  /* SaaSpot Windows Page CSS */
  .saspot-steps.steps-style-five .step-info {
    padding-top: 20px;
  }
  .swiper-container {
    height: 650px;
    min-height: 650px;
  }
  .swiper-container .banner-caption {
    text-align: center;
  }
  .saspot-meta .blog-date {
    float: none;
    padding: 10px 0 0;
  }
  .saspot-blog {
    padding: 80px 0 30px;
  }
  .blog-detail-wrap {
    padding: 20px 15px;
  }
  .blog-info,
  .blog-style-two .blog-info {
    padding: 28px 20px;
  }
  .single-mate-info {
    padding: 30px 0 0 0;
  }
}

@media screen and (max-width:575px) {
  /* SaaSpot Normal CSS */
  h1, 
  .h1 {
    font-size: 26px;
  }
  h2, 
  .h2 {
    font-size: 22px;
  }
  .container {
    padding: 0 25px;
  }
  .mega-menu .dropdown-nav li {
    float: none;
    width: auto;
  }
  .right-border {
    border-right: none;
  }
  .banner-caption h1, 
  .section-title-wrap h2, 
  .sharing-info h2, 
  .saspot-losi-wrap .section-title-wrap h2,
  .step-info h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .saspot-page-title h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .enterprises-info h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .masonry-item {
    width: 100%;
  }
  /* SaaSpot Affiliate Page CSS */
  .promote-title {
    padding-bottom: 5px;
  }
  .commission-item {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .commission-title {
    padding-bottom: 0;
    border-bottom: none;
  }
  .question-item h4 {
    font-size: 18px;
  }
  /* SaaSpot Agencies Page CSS */
  .analytics-inner h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .saspot-clients .section-title-wrap h2 {
    font-size: 26px;
  }
  /* SaaSpot Api Page CSS */
  .callout-style-three .section-title-wrap h2 {
    font-size: 24px;
  }
  /* SaaSpot Api Page CSS */
  .job-details h2 {
    font-size: 24px;
  }
  .page-title-style-five h3 {
    font-size: 16px;
  }
  .file-types {
    padding-top: 10px;
  }
  /* SaaSpot Careers Page CSS */
  .environment-wrap {
    padding: 0 25px;
  }
  .saspot-masonry[data-space="10"] .masonry-item {
    padding-bottom: 25px;
  }
  .masonry-item[class*="custom-width"] {
    width: 100%;
  }
  .job-item h3 {
    font-size: 18px;
  }
  .testimonials-style-two .testimonials-wrap p {
    font-size: 16px;
    line-height: 26px;
  }
  .service-item h3 {
    font-size: 20px;
  }
  .specialist-item h5 {
    font-size: 18px;
  }
  .job-item {
    padding: 20px;
  }
  /* SaaSpot Careers Specialisation Page CSS */
  .tabs-style-two .nav-link {
    padding-left: 20px;
  }
  .banner-style-three .banner-caption h1 {
    font-size: 28px;
  }
  .saspot-values, 
  .saspot-values .section-title-wrap {
    text-align: center;
  }
  .saspot-video {
    height: 250px;
  }
  .banner-style-three .saspot-btn-wrap {
    padding-top: 10px;
  }
  .saspot-join h2 {
    font-size: 24px;
  }
  /* SaaSpot Classes Page CSS */
  .class-item {
    text-align: center;
  }
  .classes-style-two .class-item {
    text-align: left;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .market-role-item .saspot-icon, 
  .market-role-title {
    display: inline-block;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-info-item {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  /* SaaSpot Email Marketing Page CSS */
  .saspot-benefits {
    text-align: center;
  }
  /* SaaSpot Enterprises Page CSS */
  .promo-info h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .feature-item h3 {
    font-size: 20px;
  }
  /* SaaSpot Marketing Automation Page CSS */
  .common-feature-inner h5 {
    font-size: 16px;
  }
  .market-types-style-two .market-wrap h2 {
    font-size: 26px;
    line-height: 32px;
  }
  /* SaaSpot Our Story Page CSS */
  .saspot-stats .section-title-wrap h2 {
    font-size: 26px;
  }
  /* SaaSpot Single Service Page CSS */
  .no-cost-wrap h2 {
    font-size: 24px;
  }
  .chat-support-info h5 {
    font-size: 20px;
  }
  .chat-support-title {
    padding-bottom: 5px;
  }  
  .classes-style-two.class-item .saspot-icon {
    float: none;
    padding-bottom: 10px;
  }
  .classes-style-two.class-item .class-info {
    padding-left: 0;
  }
  .saspot-losi-wrap .form-wrap form .forgot-link {
    float: left;
    text-align: left;
  }
  .saspot-losi-wrap .form-wrap form .forgot-link, .saspot-losi-wrap .form-wrap form .login-remember {
    width: 100%;
    padding: 15px 0;
  }
  .saspot-losi-wrap .form-wrap form .login-remember {
    padding-bottom: 30px;
  }
  .guide-info-wrap [class*="col-"] {
    padding: 0;
    border-bottom: 1px solid #d4ddf3;
    border-right: none;
    width: 100%;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
  }
  .woocommerce-Reviews ol.commentlist {
    padding: 0;
  }
}

@media screen and (max-width:479px) {  
  /* SaaSpot Normal CSS */
  .saspot-header .row {
    margin: 0 -5px;
  }
  .saspot-header [class*="col-"] {
    padding: 0 5px;
  }
  .saspot-toggle {
    width: 38px;
    height: 38px;
    padding: 14px 12px;
  }
  .header-contact {
    padding-top: 5px;
  }
  .saspot-brand img {
    max-width: 110px;
    height: auto;
  }
  .mean-container .mean-nav {
    margin-top: 85px;
  }
  .mean-container .mean-nav ul li li a {
    margin: 0 0px 0 20px;
    width: calc(100% - 50px);
  }
  .mean-container .mean-nav ul li li li a {
    width: calc(100% - 70px);
    margin: 0 0px 0 40px;
  }
  .saspot-banner, 
  .saspot-banner[class*="banner-style"] {
    height: auto;
    padding: 50px 0;
  }
  .banner-caption p {
    font-size: 15px;
    line-height: 24px;
  }
  .banner-caption .saspot-btn {
    min-width: 100%;
    margin-right: 0;
  }
  .banner-caption h1, 
  .section-title-wrap h2, 
  .sharing-info h2, 
  .saspot-losi-wrap .section-title-wrap h2,
  .step-info h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .saspot-page-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  /* SaaSpot Home Page CSS */
  .tool-item .saspot-icon {
    float: none;
    padding-top: 0;
  }
  .tool-info {
    overflow: visible;
    padding: 15px 0 0;
  }
  .looking-item h3 {
    font-size: 20px;
  }
  .features-link, 
  .features-link .saspot-link {
    font-size: 15px;
  }
  .sharing-info p {
    font-size: 15px;
  }
  /* SaaSpot Agencies Page CSS */
  .saspot-background {
    min-height: 250px;
  }
  .testimonial-author-wrap {
    width: 100%;
  }
  .testimonial-info {
    width: 100%;
    border-top: none;
    border-left: 1px solid #d8e1f5;
  }
  .testimonial-info p:after {
    margin-left: 0;
  }
  .saspot-dashboard .section-title-wrap h2 {
    line-height: 32px;
  }
  .saspot-clients .section-title-wrap h2 {
    font-size: 24px;
  }
  .trial-wrap input[type="submit"], 
  .trial-wrap button[type="submit"], 
  .callout-wrap .saspot-btn {
    min-width: 100%;
  }
  .callout-wrap .saspot-btn {
    margin: 0 0 10px;
  }
  .agency-item h3 {
    font-size: 18px;
  }
  .testimonial-info {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .analytics-inner h2 {
    font-size: 24px;
    line-height: 32px;
  }
  /* SaaSpot Android App Page CSS */
  .feature-item h3 {
    font-size: 18px;
  }
  /* SaaSpot Api Page CSS */
  .job-form input[type="submit"], 
  .job-form button[type="submit"] {
    min-width: 100%;
  }
  .banner-style-two .banner-caption h1 {
    font-size: 24px;
    line-height: 30px;
  }
  /* SaaSpot Careers Specialisation Page CSS */
  .banner-style-three .banner-caption h1 {
    font-size: 24px;
  }
  .banner-style-three .banner-caption p {
    line-height: 26px;
  }
  .saspot-join h2 {
    font-size: 22px;
  }
  /* SaaSpot Classes Page CSS */
  .class-item h3 {
    font-size: 20px;
  }
  .classes-style-two .class-item .saspot-icon {
    float: none;
  }
  .class-info {
    padding: 8px 0 0;
  }
  .class-item .saspot-btn-wrap {
    padding-top: 8px;
  }
  .indepth-info {
    padding: 20px 15px 15px;
  }
  .indepth-info h4 {
    font-size: 18px;
    line-height: 24px;
  }
  /* SaaSpot Company Values Page CSS */
  .corporate-item .saspot-icon {
    float: none;
    margin-top: 0;
  }
  .corporate-info {
    padding: 10px 0 0;
  }
  .identify-info h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .corporate-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .corporate-info h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .identify-info {
    padding: 20px;
  }
  /* SaaSpot Comparision 01 Page CSS */
  .guide-info h2 {
    font-size: 22px;
    line-height: 28px;
  }
  /* SaaSpot Email Marketing Page CSS */
  .video-wrap h2 {
    font-size: 22px;
  }
  .resources-style-two .resource-item {
    padding: 25px;
  }
  /* SaaSpot Enterprises Page CSS */
  .testimonials-style-three .item {
    padding-left: 20px;
  }
  .testimonials-style-three .testimonials-wrap {
    padding: 20px;
  }
  .testimonials-style-three .testimonials-wrap p {
    font-size: 18px;
    line-height: 28px;
  }
  .testimonials-style-three .testimonials-wrap p:before {
    top: 0;
    left: -20px;
  }
  .testimonials-style-three .testimonials-wrap p:after {
    margin: 15px 0 0 5px;
  }
  .resource-list h4 {
    font-size: 18px;
  }
  .video-style-three .video-wrap h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .features-style-three .feature-item h3 {
    line-height: 26px;
  }
  .api-info .section-title-wrap h2 {
    line-height: 30px;
  }
  /* SaaSpot Events Page CSS */
  .saspot-conference form {
    margin-top: 0;
  }
  .saspot-conference .saspot-btn {
    position: static;
    min-width: 100%;
  }
  /* SaaSpot Free Trial Page CSS */
  .testimonials-style-four .testimonial-info h5 {
    font-size: 16px;
  }
  /* SaaSpot How It Works Page CSS */
  .work-way-item h5 {
    font-size: 18px;
  }
  .process-item:before, 
  .process-item:after {
    display: none;
  }
  .process-item, 
  .process-item:nth-child(2n) {
    padding: 0 0 20px;
    text-align: center;
  }
  .process-counter {
    position: static;
    margin: 0 auto;
  }
  .process-item .saspot-icon {
    width: auto;
    padding: 10px 0;
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .process-info {
    padding: 0;
  }
  .process-info h3 {
    font-size: 20px;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .market-wrap h2 {
    font-size: 22px;
  }
  .saspot-market-role .section-title-wrap h2 {
    line-height: 30px;
  }
  /* SaaSpot Marketing Automation Page CSS */
  .common-feature-item {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .market-types-style-two .market-wrap h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .includes-info .nav {
    font-size: 14px;
  }
  /* SaaSpot Our Story Page CSS */
  .team-wrap {
    padding: 25px 20px;
  }
  .team-wrap h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .team-wrap h5 {
    font-size: 16px;
    line-height: 22px;
  }
  .saspot-stats .section-title-wrap h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .stats-item h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .history-wrap p {
    font-size: 15px;
  }
  /* SaaSpot Personal Plan Page CSS */
  .pricing-plan .nav {
    font-size: 14px;
  }
  .price-top-wrap h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .pricing-style-two .price-item ul {
    font-size: 15px;
  }
  .pricing-style-two .price-item ul li {
    padding-bottom: 10px;
  }
  .tabs-style-three .nav-link {
    padding: 8px 10px;
  }
  /* SaaSpot Request A Demo Page CSS */
  .saspot-fullscreen-navigation {
    width: 100%;
  }
  .navigation-wrap .dropdown-nav li {
    padding: 0 10px;
  }
  .navigation-wrap .dropdown-arrow {
    background: #eeeeee;
  }
  /* SaaSpot Single App Page CSS */
  .saspot-use-step .saspot-icon {
    width: 80px;
    height: 80px;
    margin-right: 40px;
  }
  .use-step-arrow {
    right: -30px;
  }
  /* SaaSpot Single Service Page CSS */
  .chat-support-info h5 {
    font-size: 20px;
  }
  .saspot-no-cost {
    text-align: center;
  }
  .no-cost-title {
    padding-left: 0;
  }
  .no-cost-wrap, 
  .no-cost-wrap .saspot-icon {
    display: block;
  }
  .no-cost-wrap h2 {
    font-size: 22px;
    line-height: 28px;
  }
  /* SaaSpot Webinars Page CSS */
  .webinars-wrap .webinars-inner-wrap {
    padding: 0;
    border: none;
  }
  .webinar-info h3, 
  .market-example-info h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .toggle-align .nav-link {
    min-width: 100%;
  }
  .woocommerce form .form-row label.inline {
    margin: 10px 0 0 0px;
    width: 100%;
  }
}

@media screen and (max-width:359px) {
  /* SaaSpot Normal CSS */
  .banner-style-two .banner-caption h1 {
    font-size: 22px;
  }
  /* SaaSpot Enterprises Page CSS */
  .promo-info h2 {
    font-size: 20px;
    line-height: 28px;
  }
  /* SaaSpot Inbound Marketing Page CSS */
  .market-example-info h4 {
    font-size: 20px;
    line-height: 26px;
  }
}